
body {
    padding: 50px;
}

.panel-body{
    word-break: break-all
}

.bs-callout{padding:10px 20px;margin:10px 0;border:1px solid #eee;border-left-width:5px;border-radius:3px}
.bs-callout h4{margin-top:0;margin-bottom:5px}
.bs-callout-info{border-left-color:#1b809e}
.bs-callout-info h4{color:#1b809e}
