  <div class="alert alert-danger" ng-show="page_load_error"> <h4 style="color: #aaaaaa">{{ failuremessage }}</h4></div>
  <div ng-show="!finished_loading"><h4 style="color: #aaaaaa"> ... please wait a moment </h4></div>

      <div class="col-sm-offset-2 col-sm-10" ng-show="is_index">
        <button type="submit" class="btn btn-success" ng-click="create()"><span class="glyphicon glyphicon-pencil"></span> Create Test Case </button>
      </div>
      <div class="col-sm-offset-2 col-sm-10" ng-show="is_index">
              <br><br>
        <button type="submit" class="btn btn-success" ng-click="upload()"><span class="glyphicon glyphicon-paperclip"></span> Upload Test Case </button>
      </div>

<form class="form-horizontal" name="createForm" ng-submit="next()" ng-show="load_test_form">
  <div class="form-group">
    <label class="control-label col-sm-2" for="tcname">Test Case Name:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="tcname" name="tcname"
      placeholder="Enter Test Case Name" ng-model="user.test_case_name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="appname">Application Name:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="appname" name="appname"
      placeholder="Enter Application Name" ng-model="user.application_name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="endurl">Endpoint url:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="endurl" name="endurl"
      placeholder="Enter Endpoint URL" ng-model="user.endpoint_url">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="method">Method:</label>
    <div class="col-sm-6">
      <select type="text" id="method" name="method" placeholder="Select Method" ng-model="user.method">
          <option value="Get">Get</option>
          <option value="Put">Put</option>
          <option value="Post">Post</option>
          <option value="Delete">Delete</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="payload">Input Message:</label>
    <div class="col-sm-6">
      <textarea class="form-control" id="payload" name="payload" placeholder="Enter payload" ng-model="user.payload"></textarea>
    </div>
  </div>

<div class="container">
<h3>Assertions</h3>
<div class="panel panel-default">
  <div class="panel-body"><h4>Message Format Assertions</h4></div>
  <div class="form-group">
  <label class="control-label col-sm-2" for="status">Status</label>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="status" name="status"
    placeholder="Enter expected response status code e.g. 200" ng-model="user.status">
  </div>
</div>
<div class="form-group">
<label class="control-label col-sm-2" for="format">Format</label>
<div class="col-sm-6">
  <input type="text" class="form-control" id="format" name="format"
  placeholder="Enter expected response format e.g. JSON" ng-model="user.format">
</div>
</div>

<div class="form-group">
<label class="control-label col-sm-2" for="is_array">isArray</label>
<div class="col-sm-6">
  <input type="text" class="form-control" id="is_array" name="is_array"
  placeholder="True or False " ng-model="user.is_array">
</div>
</div>

<div class="form-group">
<label class="control-label col-sm-2" for="is_object">isObject</label>
<div class="col-sm-6">
  <input type="text" class="form-control" id="is_object" name="is_object"
  placeholder="True or False" ng-model="user.is_object">
</div>
</div>
</div>

<div class="panel panel-default">
  <div class="panel-body"><h4>Data Format Assertions</h4></div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="payload">Add Expectation:</label>
      <button type="button" class="btn btn-info" ng-click="addNewChoice()"><span class="glyphicon glyphicon-plus"></span></button>
  <div class="col-sm-6">
    <fieldset data-ng-repeat="field in choiceSet.XPATH track by $index">
      <input type="text" class="form-control" placeholder="Enter Xpath to validate" ng-model="choiceSet.XPATH[$index]">
      <select type="text" id="oper" name="oper" placeholder="Select Operation" ng-model="choiceSet.OPERATION[$index]">
          <option value="Esists">Exists</option>
          <option value="Equals">=</option>
          <option value="LessThan">&lt</option>
          <option value="GreaterThan">&gt</option>
          <option value="NotEquals">&lt&gt</option>
      </select>
      <input type="text" class="form-control" placeholder="Enter value to validate" ng-model="choiceSet.VALUE[$index]">
      <button type="button" class="btn btn-default btn-sm" ng-click="removeChoice($index)">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
    </fieldset>
  </div>
</div>
</div>
</div>

  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-success" ng-click="save()"><span class="glyphicon glyphicon-floppy-saved"></span> Save Test Case </button>
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-arrow-right"></span> next </button>
    <button type="submit" class="btn btn-success" ng-click="reload()"><span class="glyphicon glyphicon-arrow-left"></span> Back </button>
  </div>
</form>


<form class="form-horizontal" action="/uploadTestConfig" method="post" name="uploadForm" enctype="multipart/form-data"  ng-show="load_upload_form">
<div class="form-group">
<label class="control-label col-sm-2" for="tcname">Upload JSON file</label>
<div class="col-sm-6">
  <input type="file" class="form-control" id="testConfigFile" name="testConfigFile"
  placeholder="Enter Test Case Name" ng-model="testConfigFile" accept="*.json">
</div>
</div>
<div class="col-sm-offset-2 col-sm-10">
<button type="submit" class="btn btn-success" ng-click="save()"><span class="glyphicon glyphicon-file"/> Upload Test Config </button>
<button type="button" class="btn btn-success" ng-click="reload()"><span class="glyphicon glyphicon-arrow-left"></span> Back </button>
</div>
</form>
